<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body class="container">

        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>
        <p></p>
        <p th:unless="${menus} and ${menus.size()}">no menus :(</p>

        <table class="table table-bordered">

        <tr>
            <th>Edit</th>
            <th>Name</th>
        </tr>

        <tr th:each="menu : ${menus}">
            <td><a th:href="'menu/edit/' + ${menu.id}" th:text="Edit"></a></td>
            <td><a th:href="'menu/view/' + ${menu.id}" th:text="${menu.name}"></a></td>
        </tr>
        </table>

        <a class="btn btn-primary btn-xs" th:href="@{menu/add}">Add Menu</a>
        <a class="btn btn-default btn-xs" th:href="@{menu/remove}">Remove Menu</a>

    </body>
</html>