<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body class="container">

        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>
        <p></p>
        <table class="table table-bordered">

            <tr>
                <th>Name</th>
            </tr>

            <tr th:each="cheese : ${menu.cheeses}">
                <td th:text="${cheese.name}"></td>
            </tr>
        </table>

        <p><a class="btn btn-default btn-xs"  th:href="'/menu/add-item/' + ${menu.id}">Add Cheese</a></p>

    </body>
</html>